:root {
  --clr-grey1: rgb(216, 215, 215);
  --clr-grey2: hsla(360, 0%, 74%, 1);
  --clr-grey3: hsla(360, 0%, 67%, 1);
  --clr-grey4: rgb(128, 127, 127);
  --clr-white: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-base: "Teko", sans-serif;
  --ff-table: "Courier Prime", monospace;

  --fw-regular300: 300;
  --fw-regular400: 400;
  --fw-regular500: 500;
  --fw-bold700: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* MY CODE */

body {
  background-color: var(--clr-grey1);
  font-family: var(--ff-table);
  margin-top: -20px;
}

h1 {
  width: 100%;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular500);
  text-shadow: 1px 1px 1px white, 2px 2px 1px white;
  font-size: 50px;
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: var(--clr-grey4);
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  box-shadow: 0 0px 50px 20px var(--clr-grey4);
}

h2 {
  font-family: var(--ff-table);
  font-weight: var(--fw-bold700);
  font-size: 28px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

h3 {
  font-family: var(--ff-table);
  font-weight: var(--fw-bold700);
  font-size: 28px;
  text-align: center;

  margin-bottom: 10px;
}

p {
  text-align: justify;
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.calc {
  display: flex;
  margin-left: 12px;
  margin-bottom: -20px;
}

input {
  border: 1px solid black;
  border-radius: 10px;
}

::placeholder {
  color: var(--clr-grey1);
}

.convert-btn {
  margin-right: auto;
  font-weight: var(--fw-bold700);
  font-size: 30px;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--clr-grey4);
  color: white;

  text-transform: uppercase;

  cursor: pointer;
}

.convert-btn:hover {
  background-color: var(--clr-grey3);
}

.reverb-table {
  background-color: var(--clr-grey2);
  font-family: var(--ff-table);

  border: 1px solid black;
  /* border-radius: 10px; */

  /* margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px; */

  padding: 5px 5px;
  box-shadow: 0px 5px 10px var(--clr-grey4);
}

.bpm-reverb {
  font-weight: var(--fw-bold700);
  font-size: 30px;
  width: 200px;
  height: 50px;

  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 15px;
  text-align: center;
}

.dark {
  background-color: var(--clr-grey3);
}

.darker {
  background-color: var(--clr-grey4);
}

.table-header {
  font-weight: var(--fw-bold700);
}

th {
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;

  text-transform: uppercase;
  font-weight: var(--fw-bold700);
  font-size: 16px;
  padding-top: 4px;
}

td {
  font-size: 16px;
  padding: 10px 10px;
}

table {
  width: 100%;
}

tbody {
  box-sizing: border-box;
}

hr {
  margin-bottom: 50px;
  /* margin-top: 50px; */
  margin-left: 0px;
  margin-right: 0px;
}

.hr {
  margin-top: 50px;
}

.hr2 {
  margin-bottom: -6px;
}

.rd-containers {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  gap: 50px;
}

@media (max-width: 875px) {
  .rd-containers {
    display: flex;
    flex-direction: column;
  }
  .calc {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .bpm-reverb {
    margin: auto;
  }
  .convert-btn {
    margin: auto;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .rd-containers {
    margin-left: 5px;
    margin-right: 5px;
  }
  .bpm-reverb {
    padding-left: 0px;
  }
}
